@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap");
$main-font: "Nunito", sans-serif;
$color-brown: #7a715d;
$color-dark-brown: #4f473e;
$color-orange: #fc7618;
$color-beige: #fffae4;
$color-light-green: #88c9a1;
$color-teal: #0bc6b5;
$color-dark-teal: #0d6f9c;
$color-yellow: #f1e26f;
$color-pechhhh: #FFD0AE;
$font-size-mobile: 1.4em;
$font-size-mobile-heading: 1.8em;
$main-font-size: 14px;
$font-size-bold: 18px;