@import "_variables";

#commissions {
    max-width: 800px;
    margin: 0 auto;
    margin-top: $navbar-height;
    margin-bottom: 80px;

    background-color: $color-beige;
    padding: 40px;
    border-radius: 30px;

    img {
        max-width: 100%;
    }

    strong {
        color: $color-dark-brown;
        font-size: $font-size-bold;
    }
}

@media only screen and (max-device-width: 640px) { 

    #commissions {
        padding: 40px;
    }

    strong {
        font-size: $font-size-bold-mobile !important;
    }

}
