@import "_variables";

.low-highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 35%, #FFD0AE 35%);
}

html,
body {
  -webkit-text-size-adjust: 100%;
  background-color: $color-light-green;
  font-family: $main-font;
  font-size: $main-font-size;
  color: $color-brown;
  scroll-behavior: smooth;
}

@media only screen and (max-device-width: 640px) {
  html, body {
    font-size: $font-size-mobile;
  }
}

a {
  color: $color-brown;
  text-decoration: underline;
}

a:hover {
  color: $color-teal;
}

.section-header {
  border-style: none none dashed none;
  margin-bottom: 30px;
  font-size: 24px;
  width: 100%;
  text-align: left;
}

@media only screen and (max-device-width: 640px) {
  .section-header {
    font-size: $font-size-mobile-heading;
  }
}

@keyframes bob {
  0% {top: 20px}
  50% {top: 18px}
  100% {top: 20px}
}

@keyframes bob0 {
  0% {top: 0px}
  50% {top: -5px}
  100% {top: 0px}
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-3deg);}
  50% {transform: rotate(3deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}

::selection {
  /* WebKit/Blink Browsers */
  background: $color-teal;
}

::-moz-selection {
  /* Gecko Browsers */
  background: $color-teal;
}

.emphasis {
  color: $color-orange;
}

.buttons {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.blue-button {
  width: fit-content;
  display: inline-block;
  height: 100%;
  border-radius: 40px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px 10px 30px;
  position: relative;
  background-color: $color-teal;
  color: $color-beige;
  border: 2px $color-dark-teal dashed;

  a {
    text-decoration: none;
  }
}

.blue-button:hover {
  text-decoration: underline;
  animation: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.beige-button {
  width: fit-content;
  display: inline-block;
  height: 100%;
  border-radius: 40px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px 10px 30px;
  position: relative;
  background-color: $color-beige;
  color: $color-brown;
}

.beige-button:hover {
  text-decoration: underline;
  animation: bob0;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: 99999;
  display: flex;

  #navbar-bg {
    background-color: $color-yellow;
    position: absolute;
    left:0; top:0; width:100%; height:100%;
    opacity: 0;
    transition: opacity 0.7s;
  }

  #title-nav {
    width: fit-content;
    opacity: 0;
    transition: opacity 0.7s;
  }

  .transition {
    opacity: 0;
    transition: opacity 0.7s;
  }

  #buttons-nav {
    flex-grow: 1;
  }

  .menu {
    display: inline-block;
    width: fit-content;
  }

  #buttons-nav a {
    width: fit-content;
    display: inline-block;
    color: $color-brown;
  }

  .nav-item {
    width: fit-content;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
  }

  .nav-item:hover {
    text-decoration: underline;
    animation: bob0;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: $color-beige;
  }

  .current .nav-item {
    text-decoration: underline !important;
  }

  .profile {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;

    img {
      background-color: $color-orange;
      width: 35px;
      border-radius: 50%;
      border: 2px solid #f8f8f0;
    }
  }
}

@media only screen and (max-device-width: 640px) {
  nav {
    .profile {
      img {
        width: $font-size-mobile-heading !important;
      }
    }
  }
  
}
/* SMALL SCREENS: nav */
@media only screen and (max-width: 640px) {

  nav {
    .nav-item {
      padding: 5px 10px 5px 10px;
      margin-left: 0px;
    }
  }

  #hero {
    .profile {
      img {
        width: 30% !important;
      }
    }
  }
  
}

#hero {
  top: 0;
  left: 0;
  padding-top: 20vh;
  min-height: 100vh;

  .welcome-container {
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;

  }
  
  .profile {
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    display: inline-block;
    position: relative;

    img {
      background-color: $color-orange;
      width: 150px;
      border-radius: 50%;
      border: 4px solid #f8f8f0;
    }
  }
  
  .dialogue {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
    .speaker {
      background-color: $color-orange;
      width: fit-content;
      height: auto;
      top: -8px;
      left: 8px;
      transform: rotate(-7deg);
      padding: 3px 15px 3px 15px;
      position: absolute;
      border-radius: 40px;
      color: $color-beige;
      z-index: 10;
      font-size: 0.8em;
    }

    .bubble {
      position: relative;
    }

    .bubble-img {
      position: absolute;
      left:0; top:0; width:100%; height:100%
    }
  
    .text {
      position: relative;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 40px;
      height: auto;
    }

  }

  .description {
    max-width: 70vw;
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    background-color: $color-beige;
    border-radius: 30px;
  }
}

@media only screen and (max-device-width: 640px) {

  #hero {

    padding-top: 10vh;
    width: 100% !important;
  
    .welcome-container {
      width: 100%;
      height: fit-content;
      position: static;
      display: block;
      padding-top: 30px;
      padding-bottom: 50px;
    }
    
    .profile {
      width: 100%;
      height: fit-content;
      margin: 0 auto;
      display: block;
      position: relative;
      text-align: center;

      img {
        width: 30%;
      }

    }
    
    .dialogue {
      flex-grow: 0;
      position: relative;
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 100%;
      height: fit-content;

      .speaker {
        top: -8px;
        left: 8px;
        transform: rotate(-7deg);
        padding: 3px 15px 3px 15px;
        position: absolute;
        border-radius: 40px;
        color: $color-beige;
        z-index: 10;
        font-size: 0.8em;
      }
    
      .text {
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        position: relative;
        padding-left: 70px;
        padding-right: 70px;
      }
  
    }

    .description {
      width: 100%;
    }
  }

}

/* SMALL SCREENS */
@media only screen and (max-width: 640px) {
  
  #hero {

    padding-top: 10vh;
  
    .welcome-container {
      width: 100%;
      height: fit-content;
      position: static;
      display: block;
      padding-top: 30px;
      padding-bottom: 50px;
    }
    
    .profile {
      width: 100%;
      height: fit-content;
      margin: 0 auto;
      display: block;
      position: relative;
      text-align: center;
    }
    
    .dialogue {
      flex-grow: 0;
      position: relative;
      display: block;
      margin: 0 auto;
      width: 400px;
      max-width: 100%;
      height: fit-content;

      .speaker {
        top: -8px;
        left: 8px;
        transform: rotate(-7deg);
        padding: 3px 15px 3px 15px;
        position: absolute;
        border-radius: 40px;
        color: $color-beige;
        z-index: 10;
        font-size: 0.8em;
      }
    
      .text {
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        position: relative;
      }

      .description {
        width: 100%;
      }
  
    }
  }

}

#reel-div {
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;

  @media only screen and (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  a {
    text-decoration: none;
  }

}

#resume-div {
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
  text-align: left;

  h3 {
    width: fit-content;
    
  }

  #description {
    max-width: 70vw;
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    background-color: $color-beige;
    border-radius: 30px;
  }

  @media only screen and (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;

    #description {
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
    }
  }

  @media only screen and (max-device-width: 640px) { 

    #description {
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
    }
  }
}

#gallery-div {
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
  text-align: left;

  h3 {
    width: fit-content;
    
  }

  @media only screen and (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;

  }

  @media only screen and (max-device-width: 640px) { 

    margin-left: 0px;
    margin-right: 0px;
  }
}

#contact-div {
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;

  @media only screen and (max-width: 640px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .link {
    display: inline-block;
    margin-right: 5px;
  }


  a {
    text-decoration: none;
    color: $color-brown
  }

  a:hover {
    text-decoration: none;
    color: $color-brown;
  }
}