@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Lusitana:wght@400;700&display=swap");
$font-body: "Lusitana", serif;
$font-heading: "Karla", sans-serif;
$primary-color: #212121;
$secondary-color: #e0e0e0;
$dark-bg: #212121;
$light-bg: #f0e9d8;
$accent-color: #fcfcf7;
$largest-font-size: 6em;
$body-font-size: 1em;
$title-font-size: 1.3em;
$header-font-size: 4.5em;
$tagline-font-size: 1.8em;
$line-height: 1.3em;
$mobile-body-font-size: 1.7em;
$mobile-tagline-font-size: 1.7em;
$mobile-largest-font-size: 4em;

html,
body {
  -webkit-text-size-adjust: 100%;
  background-color: $light-bg;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $body-font-size;
  line-height: $line-height;
  font-family: $font-body;
  color: $dark-bg;
  scroll-behavior: smooth;
}

@media only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: $mobile-body-font-size;
  }
}

::selection {
  /* WebKit/Blink Browsers */
  background: $secondary-color;
}

::-moz-selection {
  /* Gecko Browsers */
  background: $secondary-color;
}

.section-header {
  font-size: $largest-font-size;
  z-index: 90;
  display: inline-block;
  line-height: 0.9;
  padding-bottom: 20px;
  padding-right: 50px;
}

@media only screen and (max-device-width: 640px) {
  .section-header {
    font-size: $mobile-largest-font-size;
  }
}

.container {
  width: 65%;
  position: absolute;
  right: 0px;
  padding-top: 50px;
  text-align: right;
}

@media only screen and (max-device-width: 640px) {
  .container {
    width: 100%;
  }

  html,
  body {
    font-size: $mobile-body-font-size;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  html,
  body {
    font-size: $mobile-body-font-size;
  }
}

nav {
  pointer-events: none;
  position: fixed;
  height: 100vh;
  top: 0;
  float: left;
  z-index: 100;
  /* height: 40px;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0.8), rgba(0, 0, 0, 0)); */
  font-family: $font-body;
  color: $primary-color;

  @media only screen and (max-device-width: 640px) {
    height: 90vh;
  }

  #title-nav {
    font-weight: bold;
  }

  #buttons-nav {
    position: absolute;
    bottom: 30px;
  }

  .menu {
    height: auto;
    padding-top: 10px;
    margin: 30px 50px 30px 50px;
    pointer-events: auto;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    -webkit-transition: letter-spacing 0.3s; /* Safari */
    transition: letter-spacing 0.3s;
  }

  a:hover {
    letter-spacing: 2px;
    -webkit-transition: letter-spacing 0.5s; /* Safari */
    transition: letter-spacing 0.5s;
  }

  .current {
    text-decoration: underline;
  }

  .nav-item {
    color: white;
  }
}

#hero {
  color: $primary-color;
  min-height: 600px;
  height: 100vh;
  position: relative;

  .hero-container {
    text-align: right;
    position: absolute;
    right: 0;
    top: 30%;
    text-align: right;
    padding-right: 50px;
  }

  #main-title {
    font-size: $largest-font-size;
    line-height: 0.9;
    padding-bottom: 10px;
  }

  #subtitle {
    font-size: $tagline-font-size;
    padding-right: 70px;
    padding-bottom: 40px;
    margin-left: 50px;
    line-height: 1;
  }

  #description {
    max-width: 500px;
    float: right;
    margin-left: 50px;
    font-family: $font-heading;
    padding-bottom: 50px;
  }

  @media only screen and (max-width: 840px) {
    .hero-container {
      top: 20%;
    }
  }

  @media only screen and (max-device-width: 640px) {
    #main-title {
      font-size: $mobile-largest-font-size;
    }

    #subtitle {
      font-size: $mobile-tagline-font-size;
      padding-right: 1.2em;
    }

    #description {
      font-size: $mobile-body-font-size;
    }
  }
}

#reel-div {
  height: 100vh;
  min-height: 600px;
  position: relative;

  .vid-player {
    width: 100%;
    position: absolute;
    right: 50px;
  }

  @media only screen and (max-width: 600px) {
    .vid-player {
      right: 0px;
    }
  }

  @media only screen and (max-device-width: 640px) {
    .vid-player {
      right: 0px;
    }
  }
}

#contact-div {
  height: 100vh;
  position: relative;

  .link {
    padding-right: 50px;
    padding-top: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
