<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc7618">
    <meta name="msapplication-TileColor" content="#fc7618">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% include navigation.html %} {{ content }}
    <script src="/assets/js/blog.js"></script>
</body>

</html>